<% if user_signed_in? %>
	<%= form_with model: comment, url: post_comments_path(post) do |form| %>
	<div class="comment-form">
		<div class="comment-form-input">
			<%= form.text_field :comment, placeholder: " 返信を入力…" %>
		</div>
		<div class="comment-form-submit">
			<%= form.submit "返信" %>
		</div>
	</div>
	<% end %>
<% else %>
	<p>コメントするにはアカウントが必要です。 </p>
<% end %>
