<div class="comment-container">
	<div class="comment-name">
		<span class="comment-user-name"><%= comment.user.name %></span>
		<span class="comment-user-id">.<%= comment.user_id%></span>
	</div>
	<div class="comment-comment">
		<%= comment.comment %>
		<div class="comment-delete">
	<% if user_signed_in? && comment.user_id === current_user.id %>
	<%= button_to "delete", post_comment_path(comment.id), method: :delete %>
	<% end %>
	
	</div>
	</div>
	
</div>
	
	


<%# 使わない %>
<%# 
%= comment.post_id %
%= comment.user_id %
%= comment.id %

 %>