html,body {
	height: 100%
}

body::after {
	position: fixed;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	content: "";
	background-color: #ffe699;
	background-image: linear-gradient(135deg, #ffe699 31%, #fff2cc 50%);
	/*background-color: #8a1940;
	background-image: linear-gradient(225deg, #8a1940 0%, #2a4ebc 24%, #ffffff 49%, #8a1940 75%, #2a4ebc 100%);*/
}

/*
	たて
	background-color: #8a1940;
	background-image: linear-gradient(0deg, #8a1940 0%, #ffffff 50%, #2a4ebc 100%);
*/

/*
	左下ななめ 5色
	background-color: #8a1940;
	background-image: linear-gradient(225deg, #8a1940 0%, #2a4ebc 24%, #ffffff 49%, #8a1940 75%, #2a4ebc 100%);
*/

	/*background-color: #2a4ebc;
	background-image: linear-gradient(315deg, #2a4ebc 20%, #ffffff 50%, #8a1940 80%);*/
	/*position: relative;*/
