.devise-header2 {
 border-bottom: 1px solid #827E7E;
 padding: 10px;
 margin: 20px;
 font-size: 40px;
}

.devise-title {

}

.devise-title2 {
    text-align:center;
    height: 50px;
    line-height: 50px;
}
 
.form-content {
    display: flex;
    flex-direction: column;    
    margin-bottom: 30px;
} 

.devise-contents {
    width: 500px;
    margin: 0 auto;
}

.form-input {
    /* 入力欄のレイアウト */
    padding: 15px;
    height: 60px;
    border-radius: 3px;
    border: 1px solid #827E7E;
    box-sizing: border-box;
}

.btn-submit {
    height: 40px;
    width: 100%;
    text-align: center;
}

.btn-return {
    margin-top: 30px;
}