.style {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
}

/*.contents {
	display: flex;
	flex-flow: column;
}*/

.content {
	background-color: #ffffff;
	width: 700px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
}

.content-show {
	display: block;
	padding: 40px;
}

.username {
	color: #a9a9a9;
	font-size: 30px;
	font-weight: normal;
}

.text {
	margin-top: 20px;
	font-size: 20px;
	color: #000;
}

.info {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	font-size: 15px;
	line-height: 15px;
	color: #a9a9a9;
}

.info-right {
	display: flex;
}

.info-left {
	display: flex;
}

.icon-sytle {
	/*color: black;*/
}

.info-fav {
	margin-right: 30px;
}

.mr {
	margin-right: 10px;
}

.side-bar {
	/*margin-top: 30px;*/
	margin-right: 60px;
	/*position: relative;*/
}

.items {
	/*position: fixed;*/
}

.item {
	display: block;
	padding: 20px 40px;
	font-size: 25px;
	color: black;
}

.item-link {

	/*background-color: transparent;*/
}

.active {
	background: rgba(245,245,245,0.5);
}
