.wrapper {
	margin-top: 80px;
}

.postShow {
	display: flex;
	justify-content: center;
}

.wrapper-postShow {
	width: 700px;
}

@media screen and (max-width: 550px) {
	.wrapper-postShow {
		width: 90%;
	}

	.wrapper-postShow {
		width: calc(100vw - 10%);
	}
}

/* postShow header */
.postShow-header {
	height: 50px;
	height: 80px;
	display: flex;
	align-items: center;
}

.r-btn {
	width: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	border-radius: 25px;
}

.r-btn:hover {
	background-color: #d8a373;
	/*filter: brightness(50%);*/
	transition: 0.3s;
}

.r-btn-link {
	display: block;
	color: #000;
}

.postShow-header-title {
	height: 100%;
	width: calc(100% - 50px);
	margin-left: 25px;
	line-height: 80px;
	font-size: 25px;
	font-weight: bold;
}

/* postShow content */
.show-content {
	background-color: #ffffff;
	width: 700px;
	margin: 5px 0 15px;
	box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 550px) {
	.show-content {
		background-color: #ffffff;
		width: 100%;
		margin: 5px 0 15px;
		box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
	}
}

.show-content-title {
	display: flex;
	justify-content: space-between;
}

.show-content-action {
	display: flex;
	font-size: 20px;
}

.show-content-action-icon {
	color: #dcdcdc;
	height: 20px;
}

.show-content-action-btn:hover svg {
	color: #F4B183;
	transition: 0.1s;
}

.ml20 {
	margin-left: 20px;
}

/* postShow comments */
.postShow-comments {
}
	/* header */
.postShow-comments-header {
	height: 60px;
	line-height: 60px;
	font-size: 25px;
	font-weight: bold;
}

	/* form */
.postShow-form {
}

.comment-form {
	display: flex;
	height: 60px;
	line-height: 60px;
	/*width: 100%;*/
}

.comment-form-input {
	width: 80%;
	box-sizing: border-box;
}

.comment-form-input input {
	background-color: #fff;
	height: 100%;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	font-size: 15px;
	box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.comment-form-text {
	background-color: #fff;
	height: 100%;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.comment-form-submit {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 550px) {
	.comment-form-input {
		width: 75%;
		box-sizing: border-box;
	}

	.comment-form-submit {
		width: 25%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.postShow-comments-header {
		height: 60px;
		line-height: 60px;
		font-size: 20px;
		font-weight: bold;
	}

	.comment-form-text {
		background-color: #fff;
		height: 100%;
		width: 100%;
		padding: 15px;
		box-sizing: border-box;
		font-size: 15px;
		font-weight: bold;
		text-align: center;
		box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
	}
}

.comment-form-text-icon {
	margin-right: 5px;
}


.comment-form-submit input {
	background-color: antiquewhite;
	height: 80%;
	width: 80%;
	line-height: 80%;
	border-radius: 20px;
	box-sizing: border-box;
	cursor: pointer;
	border: 6px ridge antiquewhite;
}
		/* comment list */
.comment-container {
	margin-top: 20px;
	width: 70%;
}

.comment-username {
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}

.comment-content {
	background-color: #fff;
	padding: 20px 25px;
	font-size: 20px;
	border-radius: 25px;
}

.comment-info {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	font-size: 13px;
}

.comment-info-date {
	color: #c0c0c0;
}

.comment-info-delete button {
	color: red;
}
