.style {
	/*margin-top: 30px;*/
	display: flex;
	justify-content: center;
	/*align-items: center;*/
}

.contents {
	height: calc(100vh);
	overflow: scroll;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

.contents::-webkit-scrollbar {
	display:none;
}

.none {
	width: 700px;
	height: 130px;
}

@media screen and (min-width:550px) {
	.content {
		background-color: #ffffff;
		width: 640px;
		margin: 30px 30px 45px 30px;
		box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
	}
}


.content:hover {
	background-color: #dcdcdc;
	transition: 0.3s;
}

.content-show {
	display: block;
	padding: 40px;
}

.username {
	color: #a9a9a9;
	font-size: 30px;
	font-weight: normal;
}

.text {
	margin-top: 20px;
	font-size: 20px;
	color: #000;
}

.info {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	font-size: 15px;
	line-height: 15px;
	color: #a9a9a9;
}

.info-right {
	display: flex;
}

.info-left {
	display: flex;
}

.icon-sytle {
	/*color: black;*/
}

.info-fav {
	margin-right: 30px;
}

.mr {
	margin-right: 10px;
}

/*
	side-bar
*/
.side-bar {
	padding: 30px;
	margin-top: 160px;
	margin-right: 60px;
	margin-bottom: 60px;
	background: rgba(255,255,255,0.4);
	box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
}

.items {
	/*position: fixed;*/
}

.item {
	display: block;
	padding: 20px 40px;
	font-size: 25px;
	color: black;
	border-radius: 20px;
	cursor: pointer;
}

.item:hover {
	background-color: #F8CBAD;
	transition: 0.1s;
}

.item-link {
	display: block;
	background-color: #fff;
	margin-top: 10px;
	padding: 10px 40px;
	font-size: 25px;
	color: #F4B183;
	text-align: center;
	font-weight: bold;
	border-radius: 20px;
}

.item-link:hover {
	background-color: #dcdcdc;
	transition: 0.1s;
}

.active {
	background: rgba(245,245,245,0.5);
}


@media screen and (max-width: 550px) {
	.side-bar{
		display: none;
	}

	.content {
		background-color: #ffffff;
		width: 90%;
		margin: 0 auto 30px;
		box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
	}

	.none {
		margin: 0 auto;
		width: 90%;
		height: 130px;
	}

	.text {
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
	}
}
